:root{
  --mainBlue:#24d2e9cc;
  --lightBlue:#258ae985;
  --mainWhite:#e1e7e9;
  --mainDark:#232528;
  --mainYellow:#ecd02e;
  --primaryColor: #af9a7d;
  
  --offWhite: #f7f7f7;
  --mainBlack: #222;
  --mainGrey: #ececec;
  --darkGrey: #cfcfcf;
  --mainTransition: all 0.3s linear;
  --mainSpacing: 3px;
  --lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
  --darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);

}

body{
  font-family: "Oswald" sans-serif !important;
  background:var(--mainWhite) !important; 
  /* not working */
  color: var(--mainDark) !important;

}
.text-title{
  font-family: 'Ranchers', cursive;
  letter-spacing: 0.3rem;


}
.text-blue{
  color: var(--mainBlue)
}
.text-bright{
  color:var(--lightBlue)
}

.navbar{
  background: rgba(67, 50, 221, 0.705);
}
.btn-black{
  background:transparent;
  text-transform:capitalize;
  font-size:0.8rem !important;
  color:var(--mainBlack);
  border-radius:0 !important;
  border:0.1rem solid var(--mainDark)!important;
}

.btn-black:hover{
  background: var(--mainDark)!important;
  color:var(--mainWhite) !important;

}
.cart-icon{
  cursor:pointer;
  font-size:1.2rem;
  color:var(--mainYellow)
}
